<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @product.name %>
  
</p>
<p>
  <strong>Image:</strong>
  <% if @product.image.attached?  %>
    <image src="<%=(url_for(@product.image))%>">
  <% end %>
  <% if @product.converted_image.attached?  %>
    <image src="<%=(url_for(@product.converted_image))%>">
  <% end %>
  
</p>


<%= link_to 'Conservative Convert', conservative_convert_product_path(@product) %> |
<%= link_to 'Generous Convert', generous_convert_product_path(@product) %> |
<%= link_to 'Edit', edit_product_path(@product) %> |
<%= link_to 'Back', products_path %>
